:root {
  --bg: #fff;
  --bg-alt: #fff6e6;
  --primary: #415c81;
  --primary-contrast: #fff;
  --primary-hover: #3b5374;
  --primary-active: #27374d;
  --accent: #fff;
  --color: #27374d;
  --danger: #c52b2b;
  --border: #afbac0;

  --column-width: 1080px;

  font-size: 1.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.w-col-max {
  max-inline-size: var(--column-width);
}

.m-block-0 {
  margin-block: 0;
}

.m-inline-auto {
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.stack > * + * {
  margin-top: 5em;
}

#projects > *,
#skills-and-qualities > *,
#contact-details > * {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

#projects > *.visible,
#skills-and-qualities > *.visible,
#contact-details > *.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.hero {
  background-color: var(--primary);
  color: white;
}

.hero .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: var(--column-width);
  margin-inline: auto;
  min-block-size: 100vh;
  min-block-size: 100svh;
  margin-block-end: 2em;
  padding: 1em 0.5em;
}

.hero h1 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.hero p {
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 2.5vw + 1rem, 2.75rem);
  min-block-size: 3lh;
}

.hero img {
  display: block;
  border: 3px solid white;
  border-radius: 50%;
  margin-block: 1rem;
}

.hero .btn {
  background-color: var(--primary-contrast);
  color: var(--primary);
  text-transform: uppercase;
  max-width: unset;
  padding: 1em 2em;
  font-weight: bold;
}

.hero .btn:hover {
  background-color: var(--primary-contrast);
  color: var(--primary);
}

body > .wrapper {
  padding-inline: 1em;
}

.projects > * + *,
.skills-and-qualities > * + *,
.contact-details {
  margin-block-end: 5em;
}

.btn {
  display: block;
  text-decoration: none;
  color: white;
  background-color: var(--primary);
  padding: 0.75em 1.25em;
  cursor: pointer;
  border-radius: 1rem;
  text-align: center;
  margin-block-end: 1em;
}

.btn:hover {
  background-color: var(--primary-hover);
}

.btn:active {
  background-color: var(--primary-active);
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1em 1.25em;
  background-color: var(--bg-alt);
  border-radius: 1rem;
  margin-inline: 1em;
  text-align: center;
}

ul li {
  padding: 0.5em 1em;
}

@media screen and (min-width: 900px) {
  .hero .wrapper {
    padding: 2em 3em;
  }

  .btn {
    max-width: 10rem;
    margin-inline: auto;
    padding: 0.5em 1em;
  }

  ul {
    text-align: unset;
    flex-direction: row;
    justify-content: center;
  }
}